body {
  margin: 0;
  font-family: 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
}

.region {
  fill: transparent;
  stroke: #3f51b5;
  stroke-width: 1px;
  cursor: pointer;
  z-index: 100;
}

.region:hover {
  fill: #3f51b5;
  stroke: transparent;
}

.region_text {
  stroke: transparent;
  fill: black;
  font-size: 12px;
}

.region_active {
  fill: #3f51b5;
}

svg {
  cursor: pointer;
}
